<%= link "Add New User", to: user_path(@conn, :new) %>
<table class="table">
  <%= for user <- @users do %>
    <tr>
      <td><b><%= user.name %></b></td>
      <td><%= link "view", to: user_path(@conn, :show, user.id) %></td>
    </tr>
  <% end %>
</table>

